# Binaries
**/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Engine/vendor/VulkanSDK
Editor/assets/cache
scripts/__pycache__

# User files
Sandbox/imgui.ini
*.json
*.ai
